
@mixin centerer {
  position: absolute;
  top: 36%;
  left: 51%;  
  transform: translate(-50%, -50%);
}

@mixin cdStyle {
  width: 589px;
  height: 589px;
  background-color: #393535;
  border-radius: 50%;
  overflow: hidden;
  @include centerer;
}

@mixin ImgStyle {
  display: block;
    width: 1132px;
    position: relative;
    bottom: 28px;
    left: -274px;
}


@mixin spin-animation($image-exists: true) {
  @if $image-exists {
    @keyframes spin {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}

.LandingContainer{
  width: 1600px;
  padding-bottom: 800px;
  position: relative;
  top: 150px;
  margin: 0 auto;
  background-color:#ffffff5a ;
  border-radius: 20px;
  border: solid 4px #fff;
  box-shadow: 12px 12px 36px #999, -12px -12px 36px #fff;

  .TopText{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 25px;
    font-family: 'Dovemayo_gothic';
    font-size: 20px;
    color: #EB5353;
  }

  .LandingContainer_left {
    width: 739px;
    height: 700px;
    float: left;
    margin-left: 330px;
    position: relative;
  }

  .lpimg {
    position: absolute;
    width: 617px;
    margin-bottom: 20px;
    top: -10px;
    right: -21px;       
  }

  .LandingContainer_right {
    width: 500px;
    height: 700px;
    float: right;

    .LandingContainer_ModalBox{
      position: relative;
      width: 50px;
      height: 50px;
      top: 45px;
      left: 400px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 8px 8px 8px #999, -12px -12px 30px #fff;
    }
  }



  .Round-cd{
    width: 294px;
    height: 294px;
	  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	  border-radius: 50%;
    margin-left: 499px;
	  overflow: hidden;
	  @include centerer;
    @include spin-animation(false);

    .Inner_box {
      width: 100px;
      height: 100px;
      z-index: 200;
      border-radius: 50%;
      background: #2f2c2c;
      position: absolute;
      top: 30%;
      left: 32%;
    }

    .NotRound{
      @include cdStyle ;

      img{
        @include ImgStyle();
      }
    }

    .Round-cd__spin{
      @include cdStyle;
      animation: spin 20s linear infinite;
      animation-play-state: paused;
      @include spin-animation();
      animation-play-state: running ;

      img{
        @include ImgStyle();
        @include spin-animation();
      }
    }
  }
}





